html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 231, 226);
}

canvas {
   margin:auto;
  display: block;
}

h1{
  text-align: center;
  font-size: 2.5em;
}

p{
  text-align: center;

  /* font: Caveat-Bold.ttf; */
}
